array.c
CA.c 
CA.exe
demo.c 
demo.c 
demo.exe
e.c 
e.exe
fdfdf.cpp
for_loop3.c
forloop_2.c
forloop_2.exe
forloop.cpp
forloop.exe
forloop.cpp
forloop.exe
forloop2.cpp
forloop2.exe
functions.cpp
functions.exe
greater.c
greater.exe
HelloWorld.c
HelloWorld.exe
index.html
loops.cpp
loops.exe
op.c
op.exe
practicle7.cpp
practicle7.exe
shishir.cpp
shishir.exe
style.css
switch_statement.cpp
switch_statement.exe
tempCodeRunnerFile.cpp
triangle_star.c
triangle_star.exe
type_conv.c
type_conv.exe
tempCodeRunnerFile.c
ad_sub_mul_fabonacii.c
CA3_q1_part2.c
CA3_q1_part2.exe
CA3_q1.c
CA3_q1.exe
CA3_q4.c
CA3_q4.exe
cube_num&given_range.c
matric_diagonl_&2_sum.c
pointer_circle&swap.c
factorial&vowel_conso.c
S_InA&P.c